body{
	font-family:Gerogia,serif;
	background: #f0f1ef;
	font-weight: 400;
	font-size:15px;
	color:#333;
	overflow:hidden;		/* 可注释掉试试看 */
	-webkit-font-smoothing:antialiased;		/* 抗锯齿 */
}
a{
	text-decoration:none;
	color:#555;
}
.clr{			/* 清除浮动的类 */
	width:0;
	height:0;
	overflow:hidden;
	clear:both;
	padding:0;
	margin:0;
}
.st-container{		/* 页面多大，它就多大 */
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	font-family:"幼圆";
}
.st-container > input,  /*  st-container下的 input 和 a */
.st-container > a{
	width:8%;
	height:80px;
	overflow: hidden;
	position:fixed;       /* 位置定位固定 */
	top:0;
	cursor:pointer;		/* 光标形状改为手型 */
}
.st-container > input{
	opacity:0;
	z-index:1000;   /* 优先级 */
}
.st-container > a{
	z-index:10;
	line-height: 80px;
	font-size:24px;
	background:rgb(118,100,96);
	text-align:center;
	overflow: hidden;
	color:#fff;
}
.st-nav-img{
	z-index:10;
	line-height: 80px;
	background:rgb(118,100,96)
}
.st-nav-img img{
	z-index:10;
	position:relative;
	left:13%;
	top:20px;
}
.st-container > p{
	vertical-align: middle;
}
#st-control-1,#st-control-1 + a{			
	left:48%;
}
#st-control-2,#st-control-2 + a{			
	left:56%;
}
#st-control-3,#st-control-3 + a{			
	left:64%;
}
#st-control-4,#st-control-4 + a{			
	left:72%;
}
#st-control-5,#st-control-5 + a{			
	left:80%;
}
.st-container input:checked  + a,
.st-container input:checked:hover  + a{
	background:#323232;
}
.st-container input:checked  + a:after{    /* a:after 表示生成在 a 之后 		画三角形    */
	content:"";    /* 生成空的内容 */
	width:100%;
	height:7px;
	background:#821134;
	border:solid #821134;		
	border-width: thin medium;	
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.st-container input:hover  + a{			/* 鼠标滑过颜色变化 */
	color:#821134;
}

/* Content */
.st-scroll,
.st-panel{
	width:100%;
	height:100%;
	position:relative;
	background:#f0f1ef;
	overflow:hidden;
}
.st-scroll{
	left:0;
	top:0;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-backface-visibility:hidden;			/* 当前元素不面向屏幕时是否可见 visible */
	
	-webkit-transition:all/* 过度所有属性transform等 */ 0.6s /* 过渡时间或者说是速度 */ ease-in-out /* 动画曲线：慢-快-慢 */;
	-moz-transition:all 0.6s ease-in-out;
	-o-transition:all 0.6s ease-in-out;
	-ms-transition:all 0.6s ease-in-out;
	transition:all 0.6s ease-in-out;
}
#st-control-1:checked ~ .st-scroll{
	-webkit-transform:translateY(0%);
	-moz-transform:translateY(0%);
	-o-transform:translateY(0%);
	-ms-transform:translateY(0%);
	transform:translateY(0%);
}
#st-control-2:checked  ~ .st-scroll{
	-webkit-transform:translateY(-100%);	/* 往上走  -100%  注意 ntrol-2:check 之间的 ：*/	
	-moz-transform:translateY(-100%);
	-o-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
#st-control-3:checked  ~ .st-scroll{
	-webkit-transform:translateY(-200%);		
	-moz-transform:translateY(-200%);
	-o-transform:translateY(-200%);
	-ms-transform:translateY(-200%);
	transform:translateY(-200%);
}
#st-control-4:checked  ~ .st-scroll{
	-webkit-transform:translateY(-300%);		
	-moz-transform:translateY(-300%);
	-o-transform:translateY(-300%);
	-ms-transform:translateY(-300%);
	transform:translateY(-300%);
}
#st-control-5:checked  ~ .st-scroll{
	-webkit-transform:translateY(-400%);		
	-moz-transform:translateY(-400%);
	-o-transform:translateY(-400%);
	-ms-transform:translateY(-400%);
	transform:translateY(-400%);
}
.st-nav-arrow{
	position:absolute;
	z-index: 10;
	top: 90%;
	left: 50%;
}
.st-nav-arrow > img{
	margin-left: -50%;
}
.st-plane-in-3-imgsize input:checked  + img,
.st-plane-in-3-imgsize input:checked:hover + img{
	border: 1px solid #c1392d;
}
.st-plane-in-3-imgsizer input:hover  + img{
	border: 1px solid #c1392d;
}
.st-plane-in-3-imgsize input:checked  + img:after{    /* a:after 表示生成在 a 之后 		画三角形    */
	content:"";    /* 生成空的内容 */
	width:100%;
	height:7px;
	background:#c1392d;
	border:solid #c1392d;		
	border-width: thin medium;	
	position: absolute;
	bottom: -20px;
	left: -20px;
}


.mk-plane-1-txt{
	position:absolute;
	z-index: 10;
	left: 50%;
	margin-top: 40%;
}
.mk-plane-1-bt{
    text-align: center;
    width:241px;
    height: 81px;
    margin-left: -50%;
    background: #c1392d no-repeat scroll top right;
    color: #f0f0f0;
    font-size: 40px;
    cursor: pointer; 
    border: 5px solid #c1392d;
    -moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
    font-family: "幼圆"；
}