body{
	font-family:Gerogia,serif;
	background: #f0f1ef;
	font-weight: 400;
	font-size:15px;
	color:#333;
	overflow:scroll;		/* 可注释掉试试看 */
	-webkit-font-smoothing:antialiased;		/* 抗锯齿 */
}
a{
	text-decoration:none;
	color:#555;
}
.clr{			/* 清除浮动的类 */
	width:0;
	height:0;
	overflow:hidden;
	clear:both;
	padding:0;
	margin:0;
}
.st-container{		/* 页面多大，它就多大 */
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	font-family:"幼圆";
}
.st-container > input,  /*  st-container下的 input 和 a */
.st-container > a{
	width:8%;
	height:80px;
	overflow: hidden;
	position:fixed;       /* 位置定位固定 */
	top:0;
	cursor:pointer;		/* 光标形状改为手型 */
}
.st-container > input{
	opacity:0;
	z-index:1000;   /* 优先级 */
}
.st-container > a{
	z-index:10;
	font-weight:700;
	line-height: 80px;
	font-size:24px;
	background:rgb(118,100,96);
	text-align:center;
	overflow: hidden;
	color:#fff;
}
.st-nav-img{
	z-index:5;
	position: absolute;
	width: 100%;
	height: 80px;
	background:rgb(118,100,96)
}
.st-nav-img > img{
	z-index:10;
	position:relative;
	left:13%;
	top:20px;
}
.st-container > p{
	vertical-align: middle;
}
#st-control-1,#st-control-1 + a{			
	left:48%;
}
#st-control-2,#st-control-2 + a{			
	left:56%;
}
#st-control-3,#st-control-3 + a{			
	left:64%;
}
#st-control-4,#st-control-4 + a{			
	left:72%;
}
#st-control-5,#st-control-5 + a{			
	left:80%;
}
.st-container input:checked  + a:after{    /* a:after 表示生成在 a 之后 		画三角形    */
	content:"";    /* 生成空的内容 */
	width:100%;
	height:7px;
	background:#c1392d;
	border:solid #c1392d;		
	border-width: thin medium;	
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.st-container input:hover  + a{			/* 鼠标滑过颜色变化 */
	color:#c1392d;
}

/* Content */
.st-scroll,
.st-panel{
	width:100%;
	height:100%;
	position:relative;
}
.st-scroll{
	left:0;
	top:0;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-backface-visibility:hidden;			/* 当前元素不面向屏幕时是否可见 visible */
	
	-webkit-transition:all/* 过度所有属性transform等 */ 0.6s /* 过渡时间或者说是速度 */ ease-in-out /* 动画曲线：慢-快-慢 */;
	-moz-transition:all 0.6s ease-in-out;
	-o-transition:all 0.6s ease-in-out;
	-ms-transition:all 0.6s ease-in-out;
	transition:all 0.6s ease-in-out;
}
.st-panel{
	background:#f0f1ef;
	overflow:hidden;
}
#st-control-1:checked ~ .st-scroll{
	-webkit-transform:translateY(0%);
	-moz-transform:translateY(0%);
	-o-transform:translateY(0%);
	-ms-transform:translateY(0%);
	transform:translateY(0%);
}
#st-control-2:checked  ~ .st-scroll{
	-webkit-transform:translateY(-100%);	/* 往上走  -100%  注意 ntrol-2:check 之间的 ：*/	
	-moz-transform:translateY(-100%);
	-o-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
#st-control-3:checked  ~ .st-scroll{
	-webkit-transform:translateY(-200%);		
	-moz-transform:translateY(-200%);
	-o-transform:translateY(-200%);
	-ms-transform:translateY(-200%);
	transform:translateY(-200%);
}
#st-control-4:checked  ~ .st-scroll{
	-webkit-transform:translateY(-300%);		
	-moz-transform:translateY(-300%);
	-o-transform:translateY(-300%);
	-ms-transform:translateY(-300%);
	transform:translateY(-300%);
}
#st-control-5:checked  ~ .st-scroll{
	-webkit-transform:translateY(-400%);		
	-moz-transform:translateY(-400%);
	-o-transform:translateY(-400%);
	-ms-transform:translateY(-400%);
	transform:translateY(-400%);
}
.st-plane-in-1{
	position:absolute;
	width:100%; 
	height:100%; 
	z-index: 2;
}
.st-plane-in-1 > img{
	width:100%; 
	height:100%;
	z-index: 2;
}
.st-plane-in-1-txt{
	position:absolute;
	z-index: 10;
	top: 72%;
	left: 50%;
}
.st-plane-in-1-bt{
    text-align: center;
    width:241px;
    height: 81px;
    margin-left: -50%;
    background: #c1392d no-repeat scroll top right;
    color: #f0f0f0;
    font-size: 40px;
    cursor: pointer; 
    border: 5px solid #c1392d;
    -moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:15px;            /* W3C syntax */
    font-family: "幼圆"；
}
.st-plane-in-2{
	position:absolute;
	top: 13%;
	left: 13%;
	overflow: hidden;
	height:10%;
}
.st-plane-in-2 > h2{
	font-size: 34px;
	overflow: hidden;
}
.st-plane-in-2-txt{
	position:absolute;
	top: 23%;
	left: 13%;
	overflow: hidden;
	height: 7%;
}
.st-plane-in-2-txt > p{
	font-size: 20px;
	overflow: hidden;
}
.st-plane-in-2-txt-add{
	position:absolute;
	top: 30%;
	left: 13%;
	overflow: hidden;
	height: 7%;
}
.st-plane-in-2-txt-add > p{
	font-size: 16px;
	color: rgb(180,180,180);
	overflow: hidden;
}
.st-plane-in-2-icon-1{
	width: 19%;
	height: 19%;
	position:absolute;
	top:50%;
	left: 13%;
}
.st-plane-in-2-icon-2{
	width: 19%;
	height: 19%;
	position:absolute;
	top:50%;
	left: 31%;
}
.st-plane-in-2-icon-3{
	width: 19%;
	height: 19%;
	position:absolute;
	top:50%;
	left: 49%;
}
.st-plane-in-2-icon-4{
	width: 19%;
	height: 19%;
	position:absolute;
	top:50%;
	left: 67%;
}

.st-color-1{
	background: rgb(50,50,50);
}
.st-color-2{
	background: rgb(142,146,158);
}
.st-plane-in-3{
	position:absolute;
	top: 12%;
	left: 13%;
}
.st-plane-in-3 > h2{
	font-size: 40px;
	color: #dcdcdc;
}
.st-plane-in-3-choose{
	position:absolute;
	top: 24%;
	left: 13%;
}
.st-plane-in-3-choose > input,
.st-plane-in-3-choose > p
{
	width:80px;
	height:40px;
	position:fixed;       /* 位置定位固定 */
	overflow: hidden;
}
.st-plane-in-3-choose > p{
	color: #787878;
	font-size: 24px;
	text-align: center;
	z-index:10;
	line-height: 36px;
	border:solid #787878;
    -moz-border-radius: 10px;      /* Gecko browsers */
    -webkit-border-radius: 10px;   /* Webkit browsers */
    border-radius:10px;            /* W3C syntax */		
	border-width: thin thin;	
}
.st-plane-in-3-choose > input{
	opacity:0;
	z-index:1000;   /* 优先级 */
	cursor:pointer;		/* 光标形状改为手型 */
	margin-top:24px;
}
#plane-3-control-2,#plane-3-control-2 + p{			
	left:19%;
}
.st-plane-in-3-choose input:checked  + p,
.st-plane-in-3-choose input:checked:hover  + p{
	background:#c1392d;
	border: #c1392d;
	color: #dcdcdc;
}

.st-plane-in-3-img-1{
	width: 20%;
	height: 31%;
	position:absolute;
	top:38%;
	left: 13%;
}
.st-plane-in-3-imgp{
	width: 100%;
	height: 31%;
	position:absolute;
	top:100%;
	text-align: left;;
}
.st-plane-in-3-img-2{
	width: 20%;
	height: 31%;
	position:absolute;
	top:38%;
	left: 36%;
}
.st-plane-in-3-imgsize > img,
.st-plane-in-3-imgsize > input{
	width:20%;
	height:31%;
	position:fixed;       /* 位置定位固定 */
	overflow: hidden;
}
.st-plane-in-3-imgsize > input{
	opacity:0;
	z-index:1000;   /* 优先级 */
	cursor:pointer;		/* 光标形状改为手型 */
}
#plane-3-imgcontrol-2,#plane-3-imgcontrol-2 + img{			
	left:38%;
}
.st-plane-in-5{
	position:absolute;
	top: 13%;
	left: 13%;
	z-index: 10;
}
.st-plane-in-5 > h2{
	font-size: 40px;
	z-index: 10;
}
.st-plane-5-contact{
	position: absolute;
	top:38%;
	left: 21%;
	font-size: 24px;
	z-index: 5;
	color: #323232;
}
.st-plane-5-contact > img{
	margin-left: -15%;
	margin-bottom: -13%;
}
.st-bottom{
	width: 100%;
	height: 12%;
	position: absolute;
	top:88%;
	background: rgb(30,30,30);
	z-index: 5;
}
.st-bottom > p{
	color: #f0f0f0;
	text-align: center;
	font-size: 14px;
}
.st-plane-in-4-txt{
	position:absolute;
	top: 26%;
	left: 13%;
}
.st-plane-in-4-txt > p{
	font-size: 24px;
	color: #323232;
}
.st-plane-in-4-txt-add{
	position:absolute;
	top: 40%;
	left: 13%;
	background-color: #f6f6f6;
	width: 40%;
	height: 42%;
	overflow:scroll;
}
.st-plane-in-4-txt-add > p{
	font-size: 18px;
	color: #323232;
	padding:0 2em;
	line-height: 40px;
}
.st-plane-in-4-img{
	position:absolute;
	top: 15%;
	left: 73%;
	width: 10%;
	height: 75%;
	
}
.st-plane-in-4-right{
	position:absolute;
	width: 100%;
	height: 79%;
	/*overflow-y:scroll;*/
	overflow: hidden;
	margin-top: 40%;
}
.st-plane-in-4-scroll{
	margin-top: -98%;
}
.st-plane-in-4-pup{
	text-align: center;
}
.st-plane-in-4-pup > img,
.st-plane-in-4-pup > input{
	width: 59px;
	height: 29px;
	cursor:pointer;
	position: fixed;
	text-align: center;
	margin-left: -30px;
	margin-top: 1.5%;
}
.st-plane-in-4-pup > input{
	opacity: 0;
	z-index: 1000;
}
.st-plane-in-4-pdown{
	text-align:center;
	margin-top: 350%;
}
.st-plane-in-4-pdown > img,
.st-plane-in-4-pdown > input{
	width: 59px;
	height: 29px;
	cursor:pointer;
	position: fixed;
	text-align: center;
	margin-left: -30px;
}
.st-plane-in-4-pdown > input{
	opacity: 0;
	z-index: 1000;
}